/*
#Headings

Template: StyleGuide/SGCMSHeadings

Styleguide 3.1
*/

/*h1 {
	font-family: $font-heading;
	font-size: 48px;
	font-weight: 500;
	line-height: (50/48);
}

h2 {
	font-family: $font-heading;
	font-size: 42px;
	font-weight: 500;
	line-height: (45/42);
}

h3 {
	font-family: $font-heading;
	font-size: 28px;
	font-weight: 500;
	line-height: (30/28);
}

h4 {
	font-family: $font-heading--alt;
	font-size: 36px;
	font-weight: 600;
	line-height: (40/36);
}

h5 {
	font-family: $font-heading--alt;
	font-size: 28px;
	font-weight: 600;
	line-height: (30/28);
}

h6 {
	font-family: $font-heading--alt;
	font-size: 24px;
	font-weight: 500;
	line-height: (30/24);
}
*/
